<div class="list-group my-4">
    {% for category in categories %}
        <a href="{{ path('category', {slug: category.slug}) }}" class="list-group-item">{{ category.name }}</a>
    {% endfor %}
</div>